*.log
*.log.*
*.tmp
*.bak
*.swp
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tgz
*.rar
*.7z
*.dll
*.exe
*.obj
*.a
*.lib
*.so
*.o
*.pyc
*.pyo
*.img
*.txt
*.bmp
*.gif
*.jpg
*.png
*.DS_Store
*.psd
*.ico
*.pdf
*.mp3
*.ogg
*.wav
*.wma
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.odt
*.ods
*.odp
*.odg
*.odf
*.odc
*.odm
*.oth
*.otp
*.ots
*.ott
*.sxw
*.stw
*.log
